<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allmylists.brianjustice.allmylists">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.allmylists.brianjustice.allmylists.screens.ListItemsScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <service android:name="com.allmylists.brianjustice.allmylists.datatools.SharedPreferenceService" />

        <activity
            android:name="com.allmylists.brianjustice.allmylists.screens.ListsScreen"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.allmylists.brianjustice.allmylists.screens.StartSplashScreen"
            android:label="@string/title_activity_start_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.allmylists.brianjustice.allmylists.screens.EnterScreen"
            android:label="@string/title_activity_enter_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.allmylists.brianjustice.allmylists.screens.RegisterScreen"
            android:label="@string/title_activity_register_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.allmylists.brianjustice.allmylists.screens.EditListScreen"
            android:label="@string/title_activity_edit_list_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.allmylists.brianjustice.allmylists.screens.EditItemScreen"
            android:label="@string/title_activity_edit_item_screen"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>